__pycache__/
*.pyc
*.pyo
*.pyd

.env
venv/
.venv/
env/

*.db
*.sqlite3
*.log

audios/
videos_inMP4/
chroma_store/

response.txt
retrieved_chunks.txt
final_prompt.txt
error_log.txt
embedded_chunks_debug.csv